* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	padding: 8px;
	background-color: #222;
	color: white;
}
